#input-sum{
    border: 2px solid yellow;

}
#btn{
    border: 2px solid yellow;
    padding: 5px;
}
.btn{
    border: 2px solid yellow;
    padding: 5px;
}
.ac-btn{
    margin: 5px;
    padding: 10px;
}